@media screen and (max-width: 1400px){
  #root {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1100px){
  #root {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 900px){

  .contenedor2{
    display:none;
  }

  #root {
    grid-template-columns: repeat(3, 1fr);
  }
} 

@media screen and (max-width: 720px){
  body { 
    height: 100vh; 
  }
  
  main{
    margin-top: 200px;
    margin-right: 40px;
    margin-left: 40px;
  }

  #root {
    grid-template-columns: repeat(2, 1fr);
  }

  #figureCampeon{
    width: 41.5vw;
  }

/* Estilos para el header */ 

.encabezado {
  height: 160px; /*Reducir la altura del header */ 
  padding: 0.5rem; /*Reducir el padding del header */ 
  border-radius: 0; 
} 
 
/*CONTENEDOR*/
.contenedor2{
  display: none;
}

.contenedor-responsive{
  display: flex;
}

/*IMAGENES*/
#logo1 img{
  display: none;
}

#logo2{
  display: flex;
}

.icon__menu{
  display: flex;
}

.menu {
  position: left;
  width: 100px;;
}



/* Estilos para el nav */
  nav > ul{
      flex-direction: column;
      background-color: #000000;
      position: fixed;
      left: 0;
      top: 158px;
      width: 100%;
      height: 0px;
      transition: all 300ms ease;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
  }

  nav ul li ul{
      left: 90px;
  }

  nav > ul > li:hover ul{
      top: 50px;
  }

  nav > ul > li:first-child a{
      background-position: 20px;/*establece un estilo para el primer enlace dentro del primer elemento de la lista dentro del primer elemento de navegación.*/
  }


  #selected{
      transform: scale(1);
  }

  #label__menu{
      display: block;
  }

  #img__menu{
      display: flex;
  }

  #check__menu:checked ~ nav > ul{
      height: 40vw;
      visibility: visible;
      opacity: 1;
  }

  /*ARTICULO*/
  .imgBienvenida{
    margin-top: 12rem;
  }

  /*main{
      margin-top: 158px;
  }*/
}