@media screen and (max-width: 900px){

  .contenedor2{
    display:none;
  }
} 

@media screen and (max-width: 720px){
  body { 
    height: 100vh; 
  } 
/* Estilos para el header */ 

.encabezado {
  height: 160px; /*Reducir la altura del header */ 
  padding: 0.5rem; /*Reducir el padding del header */ 
  border-radius: 0; 
} 
 
/*CONTENEDOR*/
.contenedor2{
  display: none;
}

.contenedor-responsive{
  display: flex;
}

/*IMAGENES*/
#logo1 img{
  display: none;
}

#logo2{
  display: flex;
}

.icon__menu{
  display: flex;
}

.menu {
  position: left;
  width: 100px;;
}



/* Estilos para el nav */
  nav > ul{
      flex-direction: column;
      background-color: #000000;
      position: fixed;
      left: 0;
      top: 158px;
      width: 100%;
      height: 0px;
      transition: all 300ms ease;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
  }

  nav ul li ul{
      left: 90px;
  }

  nav > ul > li:hover ul{
      top: 50px;
  }

  nav > ul > li:first-child a{
      background-position: 20px;/*establece un estilo para el primer enlace dentro del primer elemento de la lista dentro del primer elemento de navegación.*/
  }


  #selected{
      transform: scale(1);
  }

  #label__menu{
      display: block;
  }

  #img__menu{
      display: flex;
  }

  #check__menu:checked ~ nav > ul{
      height: 300px;
      visibility: visible;
      opacity: 1;
  }

  /*main{
      margin-top: 158px;
  }*/
}