@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&family=Josefin+Slab:wght@100;200&family=Julius+Sans+One&display=swap');

*{
    margin: 0;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
}

body{
    background-image: url('./img/triangulos-blancos.jpg');
    background-repeat: repeat-y;
    background-repeat: repeat-x;
}

/*HEADER general*/
/* Estilos para el header */
.encabezado {
  position: fixed;/*hace que el elemento se posicione de forma fija en la pantalla*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: url('./img/espacio-verde.jpg'); 
  background-repeat: repeat-x;/*repetir solo horizontalmente*/
  width: 100%;/*establece el ancho del 100% de la pantalla*/ 
  height: 100px; /*ajuste de altura, modificar si es necesario*/ 
  color: #fff;
  border-radius: 0 0 20px 20px;
}

/*CONTENEDORES*/
.contenedor1,
.contenedor2 {
  display: flex;
  align-items: center;
}

.contenedor1 {
  margin-right: auto;
}

.contenedor2 {
  margin-left: auto;
}



/* Estilos para el logo */
#logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: auto;
}

#logo img {
  margin-left: 1rem;
}

#logo-riot{ 
  height: 20px;
  margin-right: 20px;
} 

#logo-lol{ 
  height: 50px; 
  cursor: pointer; 
} 



/* Estilos para el nav */
.nav1 {
  display: flex;
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li {
  margin-left: 2rem;
  position: relative;
}

.links li:hover > .submenu {
  display: block;
}

.links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in-out;
}

.links a:hover {
  color: #f1c40f;
}



/*SUBMENU*/
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  padding: 1rem;
  background-color: #171717;
  list-style: none;
  border-radius: 0 10px 10px 10px;
}

.submenu li {
  margin: 0;
}

.submenu a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.submenu a:hover {
  color: #f1c40f;
}



/* Estilos para el buscador */
.contenedor2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  *margin-left: auto; /* agregar margen izquierdo automático para alinear a la derecha en pantallas grandes */
}

.nav2 {
  display: flex;
  align-items: center;
}

.buscador {
  margin-right: 1rem;
  position: relative; /* Establecer la posición relativa para el contenedor */
}

input[type="search"] {
  width: 130px;
  padding: 0.5rem;
  padding-right: 3rem; /* Aumentar el padding derecho para dejar espacio para el botón */
  border-radius: 20px;
  border: none;
}

.contenedor-busqueda {
  display: flex;
  align-items: center;
}

.contenedor-busqueda {
  width: 200px; /* Ancho del contenedor */
  margin-right: auto; /* Mueve el contenedor hacia la izquierda */
}



/*BOTON DE BUSQUEDA*/
button{

}
.search {
  position: absolute;/* Establecer la posición absoluta para el botón */
  background-color: #ffffff8f;
  border: 1px solid #00000075;
  border-radius: 50%;
  top: 50%; /* Mover el botón hacia el centro verticalmente */
  right: 0; /* Mover el botón hacia la derecha */
  transform: translate(-30%, -50%); /* Centrar el botón horizontalmente */
  width: 30px;
  height: 30px;
  padding: 0;
}

.search:hover {
  cursor: pointer;
}



/* Estilos para el inicio de sesión */
.sesion .inicio-sesion{
  width: 16px;
  height: 16px;
}

.sesion {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sesion li {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  position: relative;
}

.sesion a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-in-out;
}

.sesion a:hover {
  color: #f1c40f;
}






@media (max-width: 720px) {
body {
    height: 100vh;
    }
    
  /* Estilos para el header */
  .encabezado {
    height: 10px; /*Reducir la altura del header */
    padding: 0.5rem; /*Reducir el padding del header */
  }
  
  /* Estilos para el logo */
  #logo img {
    height: 30px; /*Reducir el tamaño del logo */
  }
  
  /* Estilos para el nav */
  .links {
    display: none; /*Ocultar los enlaces del nav */
  }
  
  .nav1 {
    justify-content: flex-end; /*Mover el contenedor de búsqueda al extremo derecho del header */
  }
  
  /* Estilos para el buscador */
  .buscador {
    margin-right: 0; /*Eliminar el margen derecho del buscador */
  }
  +*
  /*input[type="search"] {
    display: none;
    width: 100%; /*Establecer el ancho del buscador al 100% del contenedor */
    /*border-radius: 10px; /*Reducir la curvatura de los bordes del buscador */
   /* margin-right: 0.5rem; /*Añadir un margen derecho para separar el botón de búsqueda */
  /*}*/

  nav > ul{
    flex-direction: column; 
    background-color: rgb(26, 27, 27); 
    position: fixed; 
    left: 0; 
    top: 158px; 
    width: 100%; 
    height: 300px; 
    transition: all 300ms ease;
    z-index: 100;/*determina la posición de un elemento en el eje Z,solo se aplica a elementos posicionados(tienen una pasicion diferente a "static")*/
    *opacity: 0; 
    *visibility: hidden; 
  }

  nav > ul > li > a:hover{
    transform: scale(1); 
    } 
    
    nav > ul > li:hover> ul{
      left: 40px; 
    } 

  /* Estilos para el botón de búsqueda */
  .search {
    right: 0.5rem; /*Mover el botón de búsqueda hacia la izquierda */
    transform: translate(0, -50%); /*Centrar el botón de búsqueda verticalmente */
  }
  
  /* Estilos para la sesión */
  .sesion li {
    margin-left: 1rem; /*Reducir el margen izquierdo del elemento de inicio de sesión */
  }
  }

  /*main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    }*/
